body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }
*{
    box-sizing: border-box;
}

  header {
    width: 100%;
  }
    


#nav-bar li{
    float: left;
    padding: 8px;
    list-style-type: none;
}

h1{
    text-align: center;
}
    


 li a{
     display: block;
     padding: 3px;
     background-color: light;
     text-decoration: none;
     border: solid;
     margin-left: 25px;
 }   

 * {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column, .column1 {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }

  #theImg{
    width: 100%;
    height: auto;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .product-review{
    display:inline;
    align-items: center;
  }
  .column ul{
    list-style-type: none;
    display: block;
   float:left;
   text-align: left;
 }
 .fa-star{
  display: inline-flex !important;
 }
 
 li{
   list-style-type: none;
 }
 
   /* .buttons{
    padding-top: 0;
    margin-bottom: 50px;
    text-align: center;
    background-color: darkslateblue;
  } */
  
  #choose_size{
    padding: 0 .6em;
    min-width: 40px;
    min-height: 40px;
    line-height: 3.6;
    float: right;
  }

  .checked {
    color: orange;}
